@font-face {
    font-family: "RDRLino-Regular";
    src: url(assets/RDRLino-Regular.ttf);
}
html {
    overflow: hidden;
}

.mainmenuimg {
  opacity: 95%;
  overflow: hidden;
  border-radius: 3%;
}

#app .menubutton1 {
    font-family: 'RDRLino-Regular', serif;
    position: absolute;
  top: 40%;
  left: 40.7%;
  background: none;
  border: none;
  font-size: 50px;
  width: 350px;
}

#app .menubutton1:hover {
  color: red;
}

#app .menubutton2 {
    font-family: 'RDRLino-Regular', serif;
    position: absolute;
  top: 60%;
  font-size: 50px;
  left: 40.7%;
  background: none;
  border: none;
  width: 350px;
}

#app .menubutton2:hover {
    color: red;
}

#app {
    position: relative;
  text-align: center;
}

.mainmenuimg2 {
    opacity: 95%;
    overflow: hidden;
    border-radius: 3%;
}

#app .menubutton3 {
    font-family: 'RDRLino-Regular', serif;
    position: absolute;
  top: 30%;
  left: 39.3%;
  background: none;
  border: none;
  font-size: 40px;
  width: 400px;
}

#app .menubutton3:hover {
  color: red;
}

#app .menubutton4 {
    font-family: 'RDRLino-Regular', serif;
    position: absolute;
  top: 47%;
  left: 40.2%;
  background: none;
  border: none;
  font-size: 40px;
  width: 380px;
}

#app .menubutton4:hover {
    color: red;
}

#app .menubutton5 {
    font-family: 'RDRLino-Regular', serif;
    position: absolute;
  top: 65%;
  left: 39.7%;
  background: none;
  border: none;
  font-size: 40px;
  width: 380px;
}

#app .menubutton5:hover {
    color: red;
}

#app .exitbutton {
    font-family: 'RDRLino-Regular', serif;
    position: absolute;
  top: 80%;
  font-size: 50px;
  left: 40.7%;
  background: none;
  border: none;
  width: 350px;
}

#app .exitbutton:hover {
    color: red;
}

#app .menubutton6 {
  font-family: 'RDRLino-Regular', serif;
  position: absolute;
  top: 25%;
  left: 39.7%;
  background: none;
  border: none;
  font-size: 40px;
  width: 380px;
}

#app .menubutton6:hover {
  color: red;
}

#app .menubutton7 {
  font-family: 'RDRLino-Regular', serif;
  position: absolute;
  top: 58%;
  left: 39.7%;
  background: none;
  border: none;
  font-size: 40px;
  width: 380px;
}

#app .menubutton7:hover {
  color: red;
}